$color-primary: #81B1DC;
$color-primary-light:#93BFE4;
$color-primary-dark: #174981;
$color-secondary: #CBEEEB;
$color-secondary-light: #F6FCFE;
$color-secondary-dark: #6AA689;
$color-grey: #E2E2E2;
$color-grey-font:#B9B9B9;
$color-grey-dark: #575757;

:root{
    --shadow-main: .1rem 1.5rem 2.2rem -.5rem rgba(65, 65, 65, 0.25);
    --shadow-pin: 2px 3px 16px rgba(0, 0, 0, 0.25);
    --shadow-data: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


